<div class="row suggest">
  <div class="col-md-3"></div>
  <div class="col-md-8">
    <strong><%= suggest.title %></strong>
    <br>
    <%= suggest.content %>
    <br>
    <%= l suggest.updated_at, format: :default %>
    <% if current_user.current_user? suggest.user %>
      <%= link_to [@restaurant, suggest], remote: true, method: :delete,
        class: "float-right", data: {confirm: t(".you_sure")} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    <% end %>
  </div>
</div>
