<% provide :title, t(".title") %>
<h2 class="text-center"><%= t ".title" %></h2>
<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <table class="table table-striped">
      <% if !@restaurants.nil? %>
        <%= render @restaurants %>
      <% end %>
    </table>
    <%= link_to t(".create"), new_manager_restaurant_path,
                class: "btn btn-primary" %>
  </div>
</div>
