<div class="card-deck">
  <% @foods.each do |food| %>
    <div class="col-md-6" id="food-index">
      <div class="card">
        <% if food.images.any? %>
          <%= image_tag food.images.first.image.url, class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to food.name, food %></h5>
          <p class="card-text"></i><%= food.description %></p>
          <p class="card-text"><i class="fa fa-usd" aria-hidden="true"></i>&nbsp;<%= food.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
