<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= link_to restaurant.name, restaurant %></td>
    <td><%= restaurant.description %></td>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.phone_number %></td>
  </tr>
<% end %>
