<tr>
  <td><a><%= restaurant.name %></a></td>
  <td><%= restaurant.address %></td>
  <td class="action-btn">
    <%= link_to t(".edit"), edit_admin_restaurant_path(restaurant),
      class: "submit-btn" %>
  </td>
</tr>
