<div class="col-md-12">
  <% find_food_restaurant(@restaurant.id).each do |food| %>
    <p>
      <i><strong><%= t "food.label.name" %>:</strong></i>&nbsp;
      <%= link_to food.name, food_path(food.id) %>
    </p>
    <div class="row">
      <% find_img_food(food.id).each do |i| %>
        <div class="col-md-3">
          <%= image_tag i.image.url, class: "img-food", crop: :fill %>
        </div>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
