<%= form_for follow_restaurant, remote: true do |f| %>
  <div><%= hidden_field_tag :restaurant_id, @restaurant.id %></div>
  <%= f.submit t("restaurants.follow"), class: "btn btn-primary" %>
<% end %>
