@import "bootstrap";
@import "aquamarine.css";
@import "aquamarine.scss";
@import "custom";
@import "font-awesome";
@import "color.scss";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 500px;
}

footer {
  position: absolute;
  width:100%;
  height: 80px;
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid $silver;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

/*error*/

.error {
  color: $red;
}

.align-items-center {
  align-items: center !important;
}

/* image */

.img-food {
  width: 100%;
  height: 100%;
}

.img-food {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-food:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* edit */

#new_food, #edit_food, .sm_edit, .detail-food {
  margin-left: auto;
  margin-right: auto;
}

.sm_edit {
  padding-top: 30px;
}

.detail-food {
  padding:30px;
}

#i_edit {
  font-size:24px;
  color: $lightskyblue;
}

#i_edit:hover {
  color: $lightseagreen;
}

label.required:after{
  content:" *";
  color: $red;
}

.block-title {
  text-align: center;
  color: $chocolate;
}

/* card */

.card-img-top {
  height: 200px;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
}

.card a.order {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $white;
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
.card a.order:hover {
  background-color: $lightskyblue;
}

.card:hover a.order,
.card.hover a.order {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
