@import "bootstrap";
@import "aquamarine.css";
@import "aquamarine.scss";
@import "custom";
@import "font-awesome";
@import "color.scss";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 500px;
  padding-top: 20px;
}

footer {
  width:100%;
  height: 80px;
  background-color: #e9ecef;
}

#del-user {
  color: $red;
}

/* header */
#icon {
  font-size: 24px;
}

header {
  background-color: #e9ecef;
}
/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid $silver;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#new-restaurant, #edit-res {
  margin: auto;
}

#form-search, #search {
  width: 100%;
}
/*error*/

.error {
  color: $red;
}

.align-items-center {
  align-items: center !important;
}

/* image */

#img_detail_order {
  height: 40px;
  width:40px;
}

.img-food {
  width: 100%;
  height: 100%;
}

.img-food {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.img-food:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* edit */

#new_food, #edit_food, .sm_edit, .detail-food {
  margin-left: auto;
  margin-right: auto;
}

.sm_edit {
  padding-top: 30px;
}

.detail-food {
  padding:30px;
}

#i_edit, #i_del {
  font-size:24px;
  color: $lightskyblue;
}

#i_edit:hover {
  color: $lightseagreen;
}

#i_del:hover {
  color: $lightseagreen;
}

label.required:after{
  content:" *";
  color: $red;
}

.block-title {
  text-align: center;
  color: $chocolate;
}

/* card */

.card-img-top {
  height: 200px;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.7;
}

.card a.order {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid $white;
  text-decoration: none;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
.card a.order:hover {
  background-color: $lightskyblue;
}

.card:hover a.order,
.card.hover a.order {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#each-detail, #confirm-order, #order-detail, #food-index {
  padding: 20px;
}

#detail-submit, #confirm-order {
  padding: 20px;
  border-top: ridge;
}

#status {
  color: $red;
}

#menu {
  margin: auto;
}

.offer-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.offer-item img {
  width: 20%;
  float: left;
  padding: 10px;
  background: $white;
  border-radius: 50%;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.txt-detail {
  display: block;
}

.offer-item .offer-price {
  border: 1px solid $chocolate;
}

.offer-item .offer-price {
  position: absolute;
  right: 15px;
  top: 50%;
  display: block;
  width: 92px;
  height: 92px;
  line-height: 92px;
  border-radius: 92px;
  transform: translate(0, -50%);
  font-size: 26px;
  text-align: center;
  letter-spacing: .5px;
}

.fa {
  color: $lightseagreen;
}

.fa.fa-comment, .fa.fa-plus  {
  color: $white;
}

.fa.fa-shopping-cart {
  font-size: 24px;
}

.fa:hover {
  color: $dodgerblue;
}

#info_customer {
  border-bottom: ridge;
}
