$silver: #bbb;
$red: red;
$lightskyblue: lightskyblue;
$white: white;
$lightseagreen: lightseagreen;
$azure: rgb(240, 254, 255);
$chocolate: #e75b1e;
$white: #ffffff;
$state-danger-text: #a94442;
$gray: #808080;
