@import "color.scss";

.welcome-home {
  background: url(asset-path('cover.jpg')) 0px 0px;
}

.introduction {
  background: url(asset-path('cover_light_3.jpg'));
}

/* forms */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  padding-top: 30px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.container-fluid {
  margin-left: 20px;
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  .remember_me {
    width: auto;
    margin-left: 0;
  }
  span {
    font-weight: normal;
  }
}

#forgot {
  text-decoration: none;
  float: right;
}

.suggest {
  margin: 15px;
  padding: 5px;
  border-bottom: 1px solid;
  border-color: $gray;
  .sgt-day {
    font-size: 15px;
    font-style: italic;
    color: $gray;
  }
}

.foods {
  margin: 30px 0 25px 0;
}

.restaurants {
  margin: 25px 0 30px 0;
}

.item {
  border: 1px solid;
  border-radius: 3px;
  margin: 0 30px 20px 35px;
  .item-body {
    padding: 10px 0 10px 0;
  }
}

.comments {
  margin-left: 50px;
  margin-top: 50px;
  .comment {
    margin-bottom: 30px;
    padding-left: 15px;
    border-left: 1px solid;
    border-color: $gray;
    .cmt-body {
      margin-top: 10px;
    }
    .cmt-footer {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      font-style: italic;
    }
    .cmt-day {
      font-size: 15px;
      font-style: italic;
      color: $gray;
    }
  }
}

.cmt-title {
  margin-bottom: 20px;
}

#cmt-user-name {
  margin-bottom: 10px;
}

.image {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.sticky-top {
  top: 15px;
  right: 15px;
}
