<div class="text-center bg-dark fixed-bottom" >
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-4">
          <h2 class="mb-4"><%= t ".contact" %></h2>
          <p class="m-0">
            <a href="tel:+246 - 542 550 5462" class="text-white">+246 - 542 550 5462</a>
          </p>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">info@pingendo.com</a>
          </p>
        </div>
        <div class="col-md-6 p-4">
          <h2 class="mb-4"><%= t ".location"%></h2>
          <p>
            <a href="https://www.google.it/maps" target="blank" class="text-white">23 Fake Street
              <br>Seattle, WA 0000</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <p class="text-muted"><%= t ".copyright" %></p>
        </div>
      </div>
    </div>
  </div>
